@model IEnumerable<PresentsApp.Models.Present>

<h2>All Present</h2>

<div>
    @foreach (var item in Model)
    {
        <div>
            @item.Name
        </div> 
        <div>
            @Html.ActionLink("Vote", "VoteFor", "Votes",new {presentId = item.PresentId})
        </div>
    }
</div>
