<h1>Laptops</h1>
<h3>Search</h3>

@using (Html.BeginForm("Search", "Laptops"))
{
    <p>By model</p>
    @(Html.Kendo().AutoComplete()
.Name("modelSearch")
.DataTextField("Model")
.MinLength(3)
.Placeholder("Enter model...")
.DataSource(
    data =>
    {
        data.Read(
            read =>
            {
                read.Action("GetLaptopsModels", "Laptops")
                    .Data("onAdditionalData");
            })
                .ServerFiltering(true);
    }
))
    <br />
    <p>By manufacturer</p>
    @(Html.Kendo().DropDownList()
.Name("manufacturerSearch")
.DataTextField("ManufacturerName")
.DataValueField("ManufacturerName")
.OptionLabel("All")
.DataSource(
    data =>
    {
        data.Read(read => read.Action("GetManufacturers", "Laptops"));
        data.ServerFiltering(true);
    }))
    <br />
    <p>By price</p>
    @(Html.Kendo().NumericTextBox()
.Name("priceSearch")
.Min(500)
.Max(4000))
<br />
<div>
    <input type="submit" class="btn" value="Search" />
</div>
}

<br />
@(Html.Kendo().ListView<LaptopSystem.ViewModels.LaptopViewModel>()
    .Name("list-view")
    .TagName("div")
    .Pageable()
    .ClientTemplateId("list-template")
    .DataSource(
        data =>
        {
            data.Read("GetAllLaptopsKendo", "Laptops");
            data.ServerOperation(true);
            data.PageSize(5);
        }))

<script id="list-template" type="text/x-kendo-template">
    <div class="row-fluid">
        <div class="span4">
            <img src="#: ImageUrl#" />
        </div>
        <div class="span4">
            <h3>
                #: Manufacturer# #: Model #
            </h3>
        </div>
        <div class="span4">
            <a href="/Laptops/Details/#: LaptopId #" class="btn">Price $#: Price #</a>
        </div>
    </div>
</script>

<script>
    function onAdditionalData() {
        return {
            query: $("#modelSearch").val()
        }
    }
</script>