@model FoodAndAlchoholEverywhere.Models.Food

@{
    ViewBag.Title = "ShowDetails";
}

<h2>@Model.Name</h2>

<div>
    @Model.Info
</div>
<div>
    <img src=@Model.Image alt= @Model.Ingredients />
</div>