<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="PlacesDb"
         connectionString="Server=b126c778-e6a8-4426-9609-a22a00f9a9c4.sqlserver.sequelizer.com;Database=dbb126c778e6a844269609a22a00f9a9c4;User ID=ncrigqevqivvlgvk;Password=8eiuXMRMawG4JvT7Nbq8fkxMTToeXCyvDcgHC7k2wctZfpqqJ2kz8ZsWPDJexMWE;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>