
@using (Html.BeginForm("Search", "Tickets"))
{ <p>Search by category</p>
    @(Html.Kendo().DropDownList()
.Name("categorySearch")
    .DataTextField("CategoryName")
.DataValueField("CategoryId")
.OptionLabel(" ")
.DataSource(
    data =>
    {
        data.Read(read => read.Action("GetTicketsByCategory", "Tickets"));
        data.ServerFiltering(true);
    }))
    <br />
    <div>
    <input type="submit" class="btn" value="Search" />
</div>
}

<br />

<div class="row-fluid">
    <div class="span3">
        <h2>Title</h2>
    </div>
    <div class="span3">
        <h2>Category</h2>
    </div>
    <div class="span3">
        <h2>Author</h2>
    </div>
    <div class="span3">
        <h2>Priority</h2>
    </div>
</div>

@(Html.Kendo().ListView<TicketingSystem.ViewModels.TicketsListViewModel>()
    .Name("list-view")
    .TagName("div")
    .Pageable()
    .ClientTemplateId("list-template")
    .DataSource(
        data =>
        {
            data.Read("GetAllTickets", "Tickets");
            data.ServerOperation(true);
            data.PageSize(10);
        }))

<script id="list-template" type="text/x-kendo-template">
    <div class="row-fluid">
        <div class="span3">
            <p>#: Title#</p> 
        </div>
        <div class="span3">
            <p>
                #: Category #
            </p>
        </div>
        <div class="span2">
            <p>#: Author #</p>
        </div>
        <div class="span2">
            <p>#: PriorityAsString #</p>
        </div>
        <div class="span2">
            <a href="/Tickets/Details/#: TicketId #" class="btn">Details</a>
        </div>
    </div>
</script>


