<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BirthDayPresentEntities" connectionString="metadata=res://*/BirthDayPresentModel.csdl|res://*/BirthDayPresentModel.ssdl|res://*/BirthDayPresentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=aspnet-BirthdayPresentsApplication-20131119014009;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>