<fieldset class="k-group k-block">
    <legend>Login</legend>
    <label for="tb-username">Username:</label>
    <input type="text" data-bind="value: username" id="tb-username" class="k-textbox"/><br />
    <label for="tb-authCode">Password:</label>
    <input type="password" data-bind="value: authCode" id="tb-authCode" class="k-textbox"/><br />
    <label for="tb-email">Email:</label>
    <input type="text" data-bind="value: email" id="tb-email" class="k-textbox"/><br />
    <button data-bind="click: login" class="k-button">Login</button>
    <button id="loadRegister" class="k-button">Register</button>
</fieldset>

