<fieldset class="k-group k-block">
    <legend>Register</legend>
    <label for="tb-username-reg">Username:</label>
    <input type="text" data-bind="value : username" id="tb-username-reg" class="k-textbox"/><br />
    <label for="tb-authCode-reg">Password:</label>
    <input type="password" data-bind="value:authCode" id="tb-authCode-reg" class="k-textbox"/><br />
    <label for="tb-email-reg">Email:</label>
    <input type="text" data-bind="value : email" id="tb-email-reg" class="k-textbox"/><br />
    <button data-bind="click:register" class="k-button">Register</button>
</fieldset>
