<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PlacesDb"
         connectionString="Server=b126c778-e6a8-4426-9609-a22a00f9a9c4.sqlserver.sequelizer.com;Database=dbb126c778e6a844269609a22a00f9a9c4;User ID=ncrigqevqivvlgvk;Password=8eiuXMRMawG4JvT7Nbq8fkxMTToeXCyvDcgHC7k2wctZfpqqJ2kz8ZsWPDJexMWE;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>