@model IEnumerable<Twitter.ViewModels.SearchedTweet>
@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    
    <h2>Your Tweets</h2>
    @(Html.Kendo().AutoComplete()
          .Name("tweets")
          .DataTextField("Message")
          .Filter(FilterType.Contains)
          .MinLength(3)
          .Placeholder("Enter tag...")
          .HtmlAttributes(new { style = "width:250px" })
          .DataSource(source =>
          {
              source.Read(read =>
              {
                  read.Action("GetTweets", "Home")
                      .Data("onAdditionalData");
              })
              .ServerFiltering(true);
          })
    )
    <script>
        function onAdditionalData() {
            return {
                text: $("#tweets").val()
            };
        }
    </script>

    <h3>All tags</h3>
    @foreach (var tweet in Model)
    {
        <div>@tweet.Message</div>
    }
</div>