<h1>About Page</h1>

<div id="example" class="k-content">
    <div class="wrapper">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">Contact us</li>
                <li>More Info</li>
                <li>Our Clients</li>
            </ul>
        </div>
    </div>
</div>


<style scoped>
    .example
    {
        width: 600px;
    }

    .wrapper
    {
        width: 500px;
        height: 455px;
        margin: 20px auto;
        padding: 20px 0 0 390px;
        background: url('Images/greedyMan.jpg') no-repeat 40px 60px transparent;
    }

    #about
    {
        width: 450px;
        float: right;
        margin-bottom: 20px;
    }

        #about .k-content
        {
            height: 400px;
            overflow: auto;
        }

    .specification
    {
        max-width: 690px;
        margin: 10px 0;
        padding: 0;
    }

        .specification:after, .wrapper:after
        {
            content: ".";
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }
</style>
