@model BirthdayPresentPlanner.Models.ViewModels.VoteViewModel

@{
    ViewBag.Title = "Show Statistics";
}

<h2>@ViewBag.Title</h2>

<p>The chosen present is: @Model.Present ---> Votes</p>

<p>  @ViewBag.Voted ---> People voted</p>
<p> @ViewBag.NotVoted ---> People didn't vote</p>