@{
    ViewBag.Title = "Home Page";
}

@section navbar{
    <div class="controls controls-row">
        <aside>
            <ul style="list-style-type:none">
                <li class="span4">
                    <i class="icon-glass"></i>
                    <a href="#">Clubs</a>
                </li>
                <li class="span8">
                    <i class="icon-star-empty"></i>
                    <a href="#">Favourites</a>
                </li>
                <li class="span12">
                    <i class="icon-thumbs-up"></i>
                    <a href="#">Tips&Tricks</a>
                </li>
            </ul>
        </aside>
    </div>
}