@model IList<FoodAndAlchoholEverywhere.Areas.Recipes.Models.Recipe>

@{
    ViewBag.Title = "All Recipes";
}

<h2>All Recipes</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="span6">
            <h3>@item.Title</h3> 
            <p>@item.Directions</p>
        </div>
    }
</div>

